* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  @include response(big-desktop) {
    font-size: 75%; //1rem === 12px
  }

  font-size: 62.5%; // 1rem === 10px

  @include response(tab-land) {
    font-size: 50%; // 1rem === 8px
  }

  @include response(tab-port) {
    font-size: 43.8%; // 1rem === 7px
  }

  @include response(phone) {
    font-size: 37.5%; //1rem === 6px
  }
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

a,
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input:focus {
  border-color: transparent;
  outline: none;
}
