.section-how {
  width: 100%;
  background-color: $color-white;
  padding: 10rem 5rem;
  display: table;

  &--left {
    display: table-cell;
    width: 60%;
  }

  &--right {
    display: table-cell;
    width: 40%;
    padding: 4rem;
  }
}

.section-features {
  padding: 0 6rem;
  img {
    width: 47vw;
  }
}

.section-shot {
  padding: 5rem 10rem;
}

.section-number {
  padding: 6rem 5rem;
  background-image: url('img/Mask Group 1@2x.png');
}

.section-faq {
  padding: 8rem 6rem;

  img {
    width: 47vw;
  }
}

.section-plan {
  padding: 4rem 8rem;
}

.section-testimonial {
  padding: 8rem 5rem;
}

.section-events {
  padding: 0rem 12rem 10rem 12rem;
}
