.section-how {
  width: 100%;
  background-color: $color-white;
  padding: 10rem 5rem;
  display: table;

  &--left {
    display: table-cell;
    width: 60%;

    @include response(tab-port) {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }

  &--right {
    display: table-cell;
    width: 40%;
    padding: 4rem;

    @include response(tab-port) {
      width: 80%;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.section-features {
  padding: 0 6rem;

  img {
    width: 47vw;

    @include response(tab-port) {
      width: 60vw;
    }
  }

  @include response(tab-port) {
    text-align: center;
  }

  .col-1-of-2 {
    @include response(tab-port) {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
}

.section-shot {
  padding: 5rem 10rem;
}

.section-number {
  padding: 6rem 5rem;
  background-image: url('img/Mask Group 1@2x.png');
}

.section-faq {
  padding: 8rem 6rem;

  @include response(phone) {
    text-align: center;
  }


  img {
    width: 47vw;

    @include response(phone) {
      width: 75vw;
    }
  }
}

.section-plan {
  padding: 4rem 8rem;

  @include response(tab-port) {
    text-align: center;
  }
}

.section-testimonial {
  padding: 8rem 5rem;
}

.section-events {
  padding: 0rem 12rem 10rem 12rem;

  @include response(tab-port) {
    text-align: center;
  }
}
