// COLORS
$color-dark-purple: #3a3575;
$color-grey-light: #acaabe;
$color-light-purple: #7056ff;
$color-text-lead: #c6c9cf;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-max-width: 144rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;

// DESIGN
$color-border: #707070;
$default-border-radius: 0.5rem;
