// COLORS
$color-dark-purple: #3a3575;
$color-grey-light: #acaabe;
$color-light-purple: #7056ff;
$color-text-lead: #c6c9cf;

$color-white: #fff;
$color-black: #000;
/*
#3a3572 : text color 
#acaabe :  box coloring and text color secondary 
#7056ff : background color secondary 
#707070 : box shadow with opacity 
*/

// GRID
$grid-max-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;

// DESIGN
$default-border-radius: 0.5rem;
