.btn {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  width: 15rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: $default-border-radius;

  &--text {
    color: $color-dark-purple;
    font-size: 1.8rem;

    &:hover {
      color: $color-light-purple;
    }
  }

  &--primary {
    background-color: $color-light-purple;
    color: $color-white;
    transition: all 0.3s;
    text-transform: uppercase;

    &:hover {
      @include button-hover-effect;
    }

    &:active {
      @include button-active-effect;
    }

    &--text-thin {
      font-weight: 400;
    }
  }

  &--secondary {
    border: 1px solid $color-light-purple;
    color: $color-light-purple;
    transition: all 0.3s;

    &:hover {
      @include button-hover-effect;
    }

    &:active {
      @include button-active-effect;
    }
  }
}
