.testimonial {
  box-shadow: 0.5rem 0.5rem 1rem rgba($color-dark-purple, 0.1);
  margin-top: 10rem;
  padding: 3rem 5rem;
  width: 648px;
  border: 1px solid rgba(#707070, 0.1);
  margin-right: 3rem;
  border-radius: $default-border-radius + 1;
}
